In [16]:
import pandas as pd
import numpy as np

In [17]:
# Examining 2 second TravelTime value for SSID09090786
df = pd.read_csv('siri.20121127.csv', header=None)
pd.set_option('display.max_rows', 100)

C:\CS\Anaconda\envs\DublinBus\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
# rename iterative numeric header row to column names
df = df.rename(columns={0:'Timestamp', 1:'LineID', 2:'Direction', 3:'JourneyPatternID', 4:'TimeFrame', 5:'VehicleJourneyID', 6:'Operator', 7:'Congestion', 8:'Lon', 9:'Lat', 10:'Delay', 11:'BlockID', 12:'VehicleID', 13:'StopID', 14:'AtStop'})

In [19]:
# drop some unnecessary rows so the table fits on one page
df = df.drop(['Direction', 'Congestion', 'Operator', 'BlockID', 'VehicleID'], axis=1)

In [20]:
df.dtypes

Timestamp             int64
LineID               object
Direction             int64
JourneyPatternID     object
TimeFrame            object
VehicleJourneyID      int64
Lon                 float64
Lat                 float64
Delay                 int64
StopID               object
AtStop                int64
dtype: object

In [21]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='us')

In [22]:
# only look at the relevant VehicleJourneyID
timesample = df[df.VehicleJourneyID == 6373]

In [23]:
# only look at the relevant StopIDs - the ones for the SSID in question, and the one before.
timesample = timesample[(timesample.StopID == '908') | (timesample.StopID == '909') | (timesample.StopID == '786')]

In [24]:
timesample

,Timestamp,LineID,Direction,JourneyPatternID,TimeFrame,VehicleJourneyID,Lon,Lat,Delay,StopID,AtStop
750275,2012-11-27 12:55:16,46,0,046A1001,2012-11-27,6373,-6.252221,53.331207,-140,908,1
751233,2012-11-27 12:55:53,46,0,046A1001,2012-11-27,6373,-6.252221,53.331207,-140,908,1
753419,2012-11-27 12:57:13,46,0,046A1001,2012-11-27,6373,-6.253867,53.333134,-9,908,1
754368,2012-11-27 12:57:52,46,0,046A1001,2012-11-27,6373,-6.255533,53.334682,-9,908,1
754950,2012-11-27 12:58:12,46,0,046A1001,2012-11-27,6373,-6.255533,53.334682,-9,909,0
755021,2012-11-27 12:58:14,46,0,046A1001,2012-11-27,6373,-6.256155,53.335171,-49,786,1
755459,2012-11-27 12:58:31,46,0,046A1001,2012-11-27,6373,-6.256155,53.335171,-29,786,1
755942,2012-11-27 12:58:52,46,0,046A1001,2012-11-27,6373,-6.256155,53.335171,-8,786,1
756588,2012-11-27 12:59:15,46,0,046A1001,2012-11-27,6373,-6.256810,53.335869,-8,786,0
757030,2012-11-27 12:59:31,46,0,046A1001,2012-11-27,6373,-6.256849,53.335899,-8,786,0
757572,2012-11-27 12:59:54,46,0,046A1001,2012-11-27,6373,-6.256909,53.336666,-8,786,0
758188,2012-11-27 13:00:14,46,0,046A1001,2012-11-27,6373,-6.255753,53.338146,-49,786,0
758670,2012-11-27 13:00:33,46,0,046A1001,2012-11-27,6373,-6.256935,53.338955,-74,786,0

The gap between StopID909(just one entry, AtStop=0) and StopID786(first entry, AtStop=1) is actually 2 seconds in the original data - no errors here our end.

In [25]:
del df
del timesample

In [26]:
# Examining 2 second TravelTime value for SSID09090786
dfa = pd.read_csv('siri.20121130.csv', header=None)
dfa = dfa.rename(columns={0:'Timestamp', 1:'LineID', 2:'Direction', 3:'JourneyPatternID', 4:'TimeFrame', 5:'VehicleJourneyID', 6:'Operator', 7:'Congestion', 8:'Lon', 9:'Lat', 10:'Delay', 11:'BlockID', 12:'VehicleID', 13:'StopID', 14:'AtStop'}) 
dfa = dfa.drop(['Congestion', 'Operator', 'BlockID', 'VehicleID'], axis=1)
dfa['Timestamp'] = pd.to_datetime(dfa['Timestamp'], unit='us')

C:\CS\Anaconda\envs\DublinBus\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:
timesamplea = dfa[dfa.VehicleJourneyID == 4648]
timesamplea = timesamplea[(timesamplea.StopID == '908') | (timesamplea.StopID == '909') | (timesamplea.StopID == '786')]
timesamplea

,Timestamp,LineID,Direction,JourneyPatternID,TimeFrame,VehicleJourneyID,Lon,Lat,Delay,StopID,AtStop
755414,2012-11-30 13:27:36,11,0,00111001,2012-11-30,4648,-6.254888,53.334057,594,909,0
755576,2012-11-30 13:27:38,11,0,00111001,2012-11-30,4648,-6.254888,53.334057,594,909,0
757662,2012-11-30 13:28:35,11,0,00111001,2012-11-30,4648,-6.256783,53.336819,594,786,0
758823,2012-11-30 13:29:34,11,0,00111001,2012-11-30,4648,-6.257222,53.339039,594,786,0

The gap between StopID909(last entry, AtStop=0) and StopID786(first entry, AtStop=0) is actually 57 seconds (and the time to the next StopID786 record is 59 seconds - more evidence that we can't rely on the notion of data being called every 30 seconds). 

However, the time between the previous two StopID909s is two seconds, so the second GPS location for StopID909 must be closer to StopID786 than the first record for StopID786, which is why this happened.  Not ideal, but we can understand it at least.

In [28]:
del dfa
del timesamplea

In [29]:
# Examining 2 second TravelTime value for SSID09090786
dfb = pd.read_csv('siri.20130123.csv', header=None)
dfb = dfb.rename(columns={0:'Timestamp', 1:'LineID', 2:'Direction', 3:'JourneyPatternID', 4:'TimeFrame', 5:'VehicleJourneyID', 6:'Operator', 7:'Congestion', 8:'Lon', 9:'Lat', 10:'Delay', 11:'BlockID', 12:'VehicleID', 13:'StopID', 14:'AtStop'})
dfb = dfb.drop(['Congestion', 'Operator', 'BlockID', 'VehicleID'], axis=1)
dfb['Timestamp'] = pd.to_datetime(dfb['Timestamp'], unit='us')

In [30]:
timesampleb = dfb[dfb.VehicleJourneyID == 6636]
timesampleb = timesampleb[(timesampleb.StopID == '908') | (timesampleb.StopID == '909') | (timesampleb.StopID == '786')]
timesampleb

,Timestamp,LineID,Direction,JourneyPatternID,TimeFrame,VehicleJourneyID,Lon,Lat,Delay,StopID,AtStop
553719,2013-01-23 12:08:39,46.0,0,046A1001,2013-01-23,6636,-6.253575,53.332813,-2,908,0
554482,2013-01-23 12:09:06,46.0,0,046A1001,2013-01-23,6636,-6.253575,53.332813,-2,908,0
554922,2013-01-23 12:09:14,46.0,0,046A1001,2013-01-23,6636,-6.252546,53.331707,63,908,0
555453,2013-01-23 12:09:30,46.0,0,046A1001,2013-01-23,6636,-6.253376,53.332623,63,908,0
557177,2013-01-23 12:10:48,46.0,0,046A1001,2013-01-23,6636,-6.253376,53.332623,63,908,0
557297,2013-01-23 12:10:50,46.0,0,046A1001,2013-01-23,6636,-6.255709,53.334805,63,909,0
557717,2013-01-23 12:11:06,46.0,0,046A1001,2013-01-23,6636,-6.256648,53.335728,42,786,0
558172,2013-01-23 12:11:28,46.0,0,046A1001,2013-01-23,6636,-6.256569,53.337090,19,786,0
558863,2013-01-23 12:11:55,46.0,0,046A1001,2013-01-23,6636,-6.255882,53.338669,-10,786,0

The actual gap is sixteen seconds but, exactly as in the previous case, the value of two seconds is taken from the previous record.

In conclusion, these unfeasibly low value problems are pre-existing in the original data.  We _may_ want to rethink how we define closest stop, but I doubt it causes too many problems really.  We just need to cut out a fair proportion of the outliers really, in my opinion - we have plenty of justification.

In [31]:
del dfb
del timesampleb

In [32]:
# Examining 593 second TravelTime value for SSID09090786
dfc = pd.read_csv('siri.20121121.csv', header=None)
dfc = dfc.rename(columns={0:'Timestamp', 1:'LineID', 2:'Direction', 3:'JourneyPatternID', 4:'TimeFrame', 5:'VehicleJourneyID', 6:'Operator', 7:'Congestion', 8:'Lon', 9:'Lat', 10:'Delay', 11:'BlockID', 12:'VehicleID', 13:'StopID', 14:'AtStop'}) 
dfc = dfc.drop(['Congestion', 'Operator', 'BlockID', 'VehicleID'], axis=1)
dfc['Timestamp'] = pd.to_datetime(dfc['Timestamp'], unit='us')

C:\CS\Anaconda\envs\DublinBus\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
timesamplec = dfc[dfc.VehicleJourneyID == 6036]
timesamplec = timesamplec[(timesamplec.StopID == '908') | (timesamplec.StopID == '909') | (timesamplec.StopID == '786')]
timesamplec

,Timestamp,LineID,Direction,JourneyPatternID,TimeFrame,VehicleJourneyID,Lon,Lat,Delay,StopID,AtStop
732814,2012-11-21 13:04:13,145,0,01451001,2012-11-21,6036,-6.252221,53.331207,-667,908,1
733259,2012-11-21 13:04:33,145,0,01451001,2012-11-21,6036,-6.252483,53.331627,-667,908,0
733784,2012-11-21 13:04:54,145,0,01451001,2012-11-21,6036,-6.252483,53.331627,-637,908,0
734696,2012-11-21 13:07:31,145,0,01451001,2012-11-21,6036,-6.253990,53.333210,-518,909,1
736849,2012-11-21 13:08:26,145,0,01451001,2012-11-21,6036,-6.253990,53.333210,-463,909,1
738045,2012-11-21 13:09:27,145,0,01451001,2012-11-21,6036,-6.253990,53.333210,-403,909,1
739089,2012-11-21 13:10:24,145,0,01451001,2012-11-21,6036,-6.253990,53.333210,-343,909,1
740404,2012-11-21 13:11:24,145,0,01451001,2012-11-21,6036,-6.253990,53.333210,-283,909,1
741784,2012-11-21 13:12:25,145,0,01451001,2012-11-21,6036,-6.253990,53.333210,-223,909,1
742934,2012-11-21 13:13:25,145,0,01451001,2012-11-21,6036,-6.253990,53.333210,-163,909,1
744222,2012-11-21 13:14:25,145,0,01451001,2012-11-21,6036,-6.253990,53.333210,-103,909,1
745570,2012-11-21 13:15:27,145,0,01451001,2012-11-21,6036,-6.253990,53.333210,-43,909,1
746822,2012-11-21 13:16:26,145,0,01451001,2012-11-21,6036,-6.254665,53.333847,0,909,0
747854,2012-11-21 13:17:24,145,0,01451001,2012-11-21,6036,-6.256839,53.335892,0,786,0
749339,2012-11-21 13:18:26,145,0,01451001,2012-11-21,6036,-6.256001,53.337788,0,786,0

593 seconds is the amount of time taken between these stops in the original data, so no mismatch.    

Note that the bus was way ahead of schedule (delay column) and sat at the stop for almost all of that time, and left when delay was back to zero - it seems like the driver was instructed to stop and wait to return the bus to its predetermined schedule.  Didn't know that this happens.  Does it affect our approach at all?  

Also, note the 157 second gap between the last value for StopID908 and the first for StopID909 - might be related to the driver being told to stop or something?  Hopefully this would show as an outlier for SSID09080909.

In [34]:
del dfc
del timesamplec

In [35]:
# Examining 759 second TravelTime value for SSID09090786
dfd = pd.read_csv('siri.20130118.csv', header=None)
dfd = dfd.rename(columns={0:'Timestamp', 1:'LineID', 2:'Direction', 3:'JourneyPatternID', 4:'TimeFrame', 5:'VehicleJourneyID', 6:'Operator', 7:'Congestion', 8:'Lon', 9:'Lat', 10:'Delay', 11:'BlockID', 12:'VehicleID', 13:'StopID', 14:'AtStop'}) 
dfd = dfd.drop(['Congestion', 'Operator', 'BlockID', 'VehicleID'], axis=1)
dfd['Timestamp'] = pd.to_datetime(dfd['Timestamp'], unit='us')

In [36]:
timesampled = dfd[dfd.VehicleJourneyID == 6378]
timesampled = timesampled[(timesampled.StopID == '908') | (timesampled.StopID == '909') | (timesampled.StopID == '786')]
timesampled

,Timestamp,LineID,Direction,JourneyPatternID,TimeFrame,VehicleJourneyID,Lon,Lat,Delay,StopID,AtStop
1139876,2013-01-18 17:06:43,145.0,0,01451001,2013-01-18,6378,-6.252221,53.331207,-431,908,1
1140773,2013-01-18 17:07:04,145.0,0,01451001,2013-01-18,6378,-6.252221,53.331207,-405,908,1
1141470,2013-01-18 17:07:26,145.0,0,01451001,2013-01-18,6378,-6.252221,53.331207,-385,908,1
1142018,2013-01-18 17:07:43,145.0,0,01451001,2013-01-18,6378,-6.252221,53.331207,-365,908,1
1142843,2013-01-18 17:08:03,145.0,0,01451001,2013-01-18,6378,-6.252642,53.331848,-365,908,0
1143617,2013-01-18 17:08:26,145.0,0,01451001,2013-01-18,6378,-6.253367,53.332615,-365,908,0
1144167,2013-01-18 17:08:44,145.0,0,01451001,2013-01-18,6378,-6.253384,53.332630,-349,908,0
1144980,2013-01-18 17:09:03,145.0,0,01451001,2013-01-18,6378,-6.253384,53.332630,-330,908,0
1145746,2013-01-18 17:09:26,145.0,0,01451001,2013-01-18,6378,-6.253862,53.333088,-330,908,0
1146333,2013-01-18 17:09:44,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,-309,909,1
1147115,2013-01-18 17:10:06,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,-289,909,1
1147826,2013-01-18 17:10:26,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,-268,909,1
1148386,2013-01-18 17:10:43,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,-249,909,1
1149158,2013-01-18 17:11:03,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,-229,909,1
1149784,2013-01-18 17:11:24,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,-209,909,1
1150427,2013-01-18 17:11:42,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,-189,909,1
1151340,2013-01-18 17:12:05,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,-169,909,1
1151814,2013-01-18 17:12:23,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,-149,909,1
1152710,2013-01-18 17:12:46,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,-129,909,1
1153320,2013-01-18 17:13:04,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,-109,909,1
1154039,2013-01-18 17:13:24,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,-89,909,1
1154748,2013-01-18 17:13:45,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,-69,909,1
1155412,2013-01-18 17:14:04,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,-49,909,1
1156073,2013-01-18 17:14:24,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,-29,909,1
1156702,2013-01-18 17:14:43,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,-9,909,1
1157558,2013-01-18 17:15:04,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,11,909,1
1158200,2013-01-18 17:15:23,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,30,909,1
1159039,2013-01-18 17:15:46,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,50,909,1
1159642,2013-01-18 17:16:03,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,70,909,1
1160544,2013-01-18 17:16:28,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,90,909,1
1161080,2013-01-18 17:16:45,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,110,909,1
1161927,2013-01-18 17:17:07,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,130,909,1
1162505,2013-01-18 17:17:25,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,150,909,1
1163048,2013-01-18 17:17:48,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,170,909,1
1163919,2013-01-18 17:18:03,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,190,909,1
1164588,2013-01-18 17:18:24,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,210,909,1
1165215,2013-01-18 17:18:42,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,230,909,1
1166107,2013-01-18 17:19:05,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,250,909,1
1166649,2013-01-18 17:19:23,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,270,909,1
1167308,2013-01-18 17:19:44,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,291,909,1
1168125,2013-01-18 17:20:04,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,310,909,1
1168896,2013-01-18 17:20:26,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,330,909,1
1169580,2013-01-18 17:20:46,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,350,909,1
1170363,2013-01-18 17:21:05,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,370,909,1
1170931,2013-01-18 17:21:24,145.0,0,01451001,2013-01-18,6378,-6.253990,53.333210,390,909,1
1171471,2013-01-18 17:21:43,145.0,0,01451001,2013-01-18,6378,-6.254800,53.333977,390,909,0
1172366,2013-01-18 17:22:07,145.0,0,01451001,2013-01-18,6378,-6.255456,53.334576,390,909,0
1173016,2013-01-18 17:22:23,145.0,0,01451001,2013-01-18,6378,-6.256155,53.335171,390,786,1
1173724,2013-01-18 17:22:43,145.0,0,01451001,2013-01-18,6378,-6.256155,53.335171,390,786,1
1174754,2013-01-18 17:23:08,145.0,0,01451001,2013-01-18,6378,-6.256155,53.335171,421,786,1
1175320,2013-01-18 17:23:24,145.0,0,01451001,2013-01-18,6378,-6.256155,53.335171,441,786,1
1175768,2013-01-18 17:23:45,145.0,0,01451001,2013-01-18,6378,-6.256169,53.335258,457,786,0
1176696,2013-01-18 17:24:04,145.0,0,01451001,2013-01-18,6378,-6.256169,53.335258,477,786,0
1177502,2013-01-18 17:24:27,145.0,0,01451001,2013-01-18,6378,-6.256718,53.335800,477,786,0
1178035,2013-01-18 17:24:48,145.0,0,01451001,2013-01-18,6378,-6.256621,53.337025,446,786,0
1178763,2013-01-18 17:25:04,145.0,0,01451001,2013-01-18,6378,-6.255710,53.338493,409,786,0
1179399,2013-01-18 17:25:27,145.0,0,01451001,2013-01-18,6378,-6.256041,53.338734,409,786,0
1180141,2013-01-18 17:25:47,145.0,0,01451001,2013-01-18,6378,-6.256949,53.338959,409,786,0

759 seconds is the amount of time taken between these stops in the original data, so no mismatch.     

Note that this bus was also ahead of schedule (delay column) and also sat at the stop for almost all of that time, but this time stayed long after delay had passed zero - seems like a breakdown or driver change or something.

In [37]:
del dfd
del timesampled

In [41]:
# Examining 340 second TravelTime value for SSID09090786
dfe = pd.read_csv('siri.20130122.csv', header=None)
dfe = dfe.rename(columns={0:'Timestamp', 1:'LineID', 2:'Direction', 3:'JourneyPatternID', 4:'TimeFrame', 5:'VehicleJourneyID', 6:'Operator', 7:'Congestion', 8:'Lon', 9:'Lat', 10:'Delay', 11:'BlockID', 12:'VehicleID', 13:'StopID', 14:'AtStop'}) 
dfe = dfe.drop(['Congestion', 'Operator', 'BlockID', 'VehicleID'], axis=1)
dfe['Timestamp'] = pd.to_datetime(dfe['Timestamp'], unit='us')

In [42]:
timesamplee = dfe[dfe.VehicleJourneyID == 4506]
timesamplee = timesamplee[(timesamplee.StopID == '908') | (timesamplee.StopID == '909') | (timesamplee.StopID == '786')]
timesamplee

,Timestamp,LineID,Direction,JourneyPatternID,TimeFrame,VehicleJourneyID,Lon,Lat,Delay,StopID,AtStop
184000,2013-01-22 07:56:32,11.0,0,00111001,2013-01-22,4506,-6.254538,53.333729,296,909,0
184669,2013-01-22 07:56:51,11.0,0,00111001,2013-01-22,4506,-6.248133,53.327816,296,909,0
185496,2013-01-22 07:57:11,11.0,0,00111001,2013-01-22,4506,-6.247833,53.327915,296,909,0
186192,2013-01-22 07:57:32,11.0,0,00111001,2013-01-22,4506,-6.247833,53.327934,296,909,0
186888,2013-01-22 07:57:53,11.0,0,00111001,2013-01-22,4506,-6.247050,53.328651,296,909,0
189162,2013-01-22 07:58:51,11.0,0,00111001,2013-01-22,4506,-6.247633,53.328934,296,909,0
190066,2013-01-22 07:59:14,11.0,0,00111001,2013-01-22,4506,-6.251817,53.330482,296,909,0
191384,2013-01-22 07:59:51,11.0,0,00111001,2013-01-22,4506,-6.254164,53.333374,501,909,0
192251,2013-01-22 08:00:11,11.0,0,00111001,2013-01-22,4506,-6.252300,53.331234,501,909,0
192920,2013-01-22 08:00:32,11.0,0,00111001,2013-01-22,4506,-6.252533,53.331718,501,909,0
193668,2013-01-22 08:00:52,11.0,0,00111001,2013-01-22,4506,-6.252850,53.332150,501,909,0
195866,2013-01-22 08:01:52,11.0,0,00111001,2013-01-22,4506,-6.256088,53.335178,590,909,0
196737,2013-01-22 08:02:12,11.0,0,00111001,2013-01-22,4506,-6.256155,53.335171,609,786,1
197414,2013-01-22 08:02:33,11.0,0,00111001,2013-01-22,4506,-6.255656,53.338417,554,786,0
198100,2013-01-22 08:02:51,11.0,0,00111001,2013-01-22,4506,-6.256283,53.335449,554,786,0
198921,2013-01-22 08:03:12,11.0,0,00111001,2013-01-22,4506,-6.256583,53.337166,554,786,0
199654,2013-01-22 08:03:32,11.0,0,00111001,2013-01-22,4506,-6.255700,53.338268,554,786,0
200391,2013-01-22 08:03:53,11.0,0,00111001,2013-01-22,4506,-6.256917,53.338982,554,786,0
201863,2013-01-22 08:04:32,11.0,0,00111001,2013-01-22,4506,-6.258500,53.339466,554,786,0
202621,2013-01-22 08:04:52,11.0,0,00111001,2013-01-22,4506,-6.257400,53.339134,554,786,0
203416,2013-01-22 08:05:12,11.0,0,00111001,2013-01-22,4506,-6.258017,53.342033,554,786,0
203655,2013-01-22 08:05:22,11.0,0,00111001,2013-01-22,4506,-6.255656,53.338417,554,786,0

340 seconds is the amount of time taken between these stops in the original data, so no mismatch.    

This time there was no sitting at the stop; judging by the time for the next SSID (over three minutes), this was just an unusually heavy morning's traffic.